.title {
    text-align: -webkit-center;
}
.searchs {
    // text-align: -webkit-right;
    padding-left: 10%;
    padding-bottom: 10px;
    .search-text {
        margin-top: 10px;
    }
    .search-form { 
        .search{
            width: 40%;
            display: inline-block;
        }
        .btn{
            display: inline-block;
        }
    }
    .year-form {
        display: inline-block;
        .year-input {
            width: 110px;
            display: inline-block;
        }
        .start-btn {
            margin-right: 5px;
        }
    }
    .all-btn {
        margin-left: 5px;
        display: inline-block;
    }
}
.leagues-div {
    text-align: -webkit-center;
}
